In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df_entrepreneur = pd.read_csv('../data/entrepreneurship.csv', engine='python')
df_entrepreneur.shape

(9690, 13)

In [3]:
df_entrepreneur.head()

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited
0,0,AFG1971,Afghanistan,AFG,South Asia,Low income,1971,26.3,75,Yes,Yes,Yes,No
1,1,AFG1972,Afghanistan,AFG,South Asia,Low income,1972,26.3,75,Yes,Yes,Yes,No
2,2,AFG1973,Afghanistan,AFG,South Asia,Low income,1973,26.3,75,Yes,Yes,Yes,No
3,3,AFG1974,Afghanistan,AFG,South Asia,Low income,1974,26.3,75,Yes,Yes,Yes,No
4,4,AFG1975,Afghanistan,AFG,South Asia,Low income,1975,26.3,75,Yes,Yes,Yes,No

In [4]:
reportyr_count = df_entrepreneur.reportyr.value_counts()
reportyr_count

2015    190
1978    190
2003    190
1995    190
1987    190
1979    190
1971    190
2018    190
2010    190
2002    190
1994    190
1986    190
2017    190
2019    190
2009    190
2001    190
1993    190
1985    190
1977    190
2016    190
2008    190
2000    190
1992    190
1984    190
2011    190
1972    190
2007    190
2021    190
1999    190
1991    190
1983    190
1975    190
2014    190
2006    190
1998    190
1990    190
1982    190
1974    190
2013    190
1980    190
2005    190
1997    190
1989    190
1981    190
1973    190
2020    190
2012    190
2004    190
1996    190
1988    190
1976    190
Name: reportyr, dtype: int64

In [5]:
def period(counter):
    if (counter['reportyr'] == 1971) | (counter['reportyr'] <= 1975) :
        return '1971-1975'
    if (counter['reportyr'] == 1976) | (counter['reportyr'] <= 1980) :
        return '1976-1980'
    if (counter['reportyr'] == 1981) | (counter['reportyr'] <= 1985) :
        return '1981-1985'
    if (counter['reportyr'] == 1986) | (counter['reportyr'] <= 1990) :
        return '1986-1990'
    if (counter['reportyr'] == 1991) | (counter['reportyr'] <= 1995) :
        return '1991-1995'
    if (counter['reportyr'] == 1996) | (counter['reportyr'] <= 2000) :
        return '1996-2000'
    if (counter['reportyr'] == 2001) | (counter['reportyr'] <= 2005) :
        return '2001-2005'
    if (counter['reportyr'] == 2006) | (counter['reportyr'] <= 2010) :
        return '2006-2010'
    if (counter['reportyr'] == 2011) | (counter['reportyr'] <= 2015) :
        return '2011-2015'
    else:
        return '2016-2021'

df_entrepreneur["period"] = df_entrepreneur.apply(period, axis=1)

In [ ]:
def period(counter):
    if (counter['reportyr'] == 1971) | (counter['reportyr'] <= 1975) :
        return '1972-1976'
    if (counter['reportyr'] == 1976) | (counter['reportyr'] <= 1980) :
        return '1977-1981'
    if (counter['reportyr'] == 1981) | (counter['reportyr'] <= 1985) :
        return '1982-1986'
    if (counter['reportyr'] == 1986) | (counter['reportyr'] <= 1990) :
        return '1987-1991'
    if (counter['reportyr'] == 1991) | (counter['reportyr'] <= 1995) :
        return '1992-1996'
    if (counter['reportyr'] == 1996) | (counter['reportyr'] <= 2000) :
        return '1997-2001'
    if (counter['reportyr'] == 2001) | (counter['reportyr'] <= 2005) :
        return '2002-2006'
    if (counter['reportyr'] == 2006) | (counter['reportyr'] <= 2010) :
        return '2007-2011'
    if (counter['reportyr'] == 2011) | (counter['reportyr'] <= 2015) :
        return '2012-2016'
    else:
        return '2017-2021'

df_entrepreneur["period"] = df_entrepreneur.apply(period, axis=1)

In [6]:
df_entrepreneur

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
0,0,AFG1971,Afghanistan,AFG,South Asia,Low income,1971,26.3,75,Yes,Yes,Yes,No,1971-1975
1,1,AFG1972,Afghanistan,AFG,South Asia,Low income,1972,26.3,75,Yes,Yes,Yes,No,1971-1975
2,2,AFG1973,Afghanistan,AFG,South Asia,Low income,1973,26.3,75,Yes,Yes,Yes,No,1971-1975
3,3,AFG1974,Afghanistan,AFG,South Asia,Low income,1974,26.3,75,Yes,Yes,Yes,No,1971-1975
4,4,AFG1975,Afghanistan,AFG,South Asia,Low income,1975,26.3,75,Yes,Yes,Yes,No,1971-1975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9685,9685,ZWE2017,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2017,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9686,9686,ZWE2018,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2018,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9687,9687,ZWE2019,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2019,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9688,9688,ZWE2020,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2020,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9689,9689,ZWE2021,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2021,86.9,100,Yes,Yes,Yes,Yes,2016-2021

In [26]:
df_entrepreneur.to_csv('entrepreneurship_periods.csv')

In [14]:
period_1971_1975 = df_entrepreneur.loc[df_entrepreneur['period'] == '1971-1975']
period_1971_1975

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
0,0,AFG1971,Afghanistan,AFG,South Asia,Low income,1971,26.3,75,Yes,Yes,Yes,No,1971-1975
1,1,AFG1972,Afghanistan,AFG,South Asia,Low income,1972,26.3,75,Yes,Yes,Yes,No,1971-1975
2,2,AFG1973,Afghanistan,AFG,South Asia,Low income,1973,26.3,75,Yes,Yes,Yes,No,1971-1975
3,3,AFG1974,Afghanistan,AFG,South Asia,Low income,1974,26.3,75,Yes,Yes,Yes,No,1971-1975
4,4,AFG1975,Afghanistan,AFG,South Asia,Low income,1975,26.3,75,Yes,Yes,Yes,No,1971-1975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9639,9639,ZWE1971,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1971,36.9,0,No,No,No,No,1971-1975
9640,9640,ZWE1972,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1972,36.9,0,No,No,No,No,1971-1975
9641,9641,ZWE1973,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1973,36.9,0,No,No,No,No,1971-1975
9642,9642,ZWE1974,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1974,36.9,0,No,No,No,No,1971-1975
9643,9643,ZWE1975,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1975,36.9,0,No,No,No,No,1971-1975

In [15]:
period_1976_1980 = df_entrepreneur.loc[df_entrepreneur['period'] == '1976-1980']
period_1976_1980

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
5,5,AFG1976,Afghanistan,AFG,South Asia,Low income,1976,26.3,75,Yes,Yes,Yes,No,1976-1980
6,6,AFG1977,Afghanistan,AFG,South Asia,Low income,1977,26.3,75,Yes,Yes,Yes,No,1976-1980
7,7,AFG1978,Afghanistan,AFG,South Asia,Low income,1978,26.3,75,Yes,Yes,Yes,No,1976-1980
8,8,AFG1979,Afghanistan,AFG,South Asia,Low income,1979,26.3,75,Yes,Yes,Yes,No,1976-1980
9,9,AFG1980,Afghanistan,AFG,South Asia,Low income,1980,26.3,75,Yes,Yes,Yes,No,1976-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,9644,ZWE1976,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1976,36.9,0,No,No,No,No,1976-1980
9645,9645,ZWE1977,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1977,36.9,0,No,No,No,No,1976-1980
9646,9646,ZWE1978,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1978,36.9,0,No,No,No,No,1976-1980
9647,9647,ZWE1979,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1979,36.9,0,No,No,No,No,1976-1980
9648,9648,ZWE1980,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1980,52.5,75,Yes,Yes,Yes,No,1976-1980

In [16]:
period_1981_1985 = df_entrepreneur.loc[df_entrepreneur['period'] == '1981-1985']
period_1981_1985

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
10,10,AFG1981,Afghanistan,AFG,South Asia,Low income,1981,26.3,75,Yes,Yes,Yes,No,1981-1985
11,11,AFG1982,Afghanistan,AFG,South Asia,Low income,1982,26.3,75,Yes,Yes,Yes,No,1981-1985
12,12,AFG1983,Afghanistan,AFG,South Asia,Low income,1983,26.3,75,Yes,Yes,Yes,No,1981-1985
13,13,AFG1984,Afghanistan,AFG,South Asia,Low income,1984,26.3,75,Yes,Yes,Yes,No,1981-1985
14,14,AFG1985,Afghanistan,AFG,South Asia,Low income,1985,26.3,75,Yes,Yes,Yes,No,1981-1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9649,9649,ZWE1981,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1981,52.5,75,Yes,Yes,Yes,No,1981-1985
9650,9650,ZWE1982,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1982,52.5,75,Yes,Yes,Yes,No,1981-1985
9651,9651,ZWE1983,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1983,52.5,75,Yes,Yes,Yes,No,1981-1985
9652,9652,ZWE1984,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1984,52.5,75,Yes,Yes,Yes,No,1981-1985
9653,9653,ZWE1985,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1985,52.5,75,Yes,Yes,Yes,No,1981-1985

In [17]:
period_1986_1990 = df_entrepreneur.loc[df_entrepreneur['period'] == '1986-1990']
period_1986_1990

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
15,15,AFG1986,Afghanistan,AFG,South Asia,Low income,1986,26.3,75,Yes,Yes,Yes,No,1986-1990
16,16,AFG1987,Afghanistan,AFG,South Asia,Low income,1987,26.3,75,Yes,Yes,Yes,No,1986-1990
17,17,AFG1988,Afghanistan,AFG,South Asia,Low income,1988,26.3,75,Yes,Yes,Yes,No,1986-1990
18,18,AFG1989,Afghanistan,AFG,South Asia,Low income,1989,25.6,75,Yes,Yes,Yes,No,1986-1990
19,19,AFG1990,Afghanistan,AFG,South Asia,Low income,1990,25.6,75,Yes,Yes,Yes,No,1986-1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9654,9654,ZWE1986,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1986,52.5,75,Yes,Yes,Yes,No,1986-1990
9655,9655,ZWE1987,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1987,52.5,75,Yes,Yes,Yes,No,1986-1990
9656,9656,ZWE1988,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1988,52.5,75,Yes,Yes,Yes,No,1986-1990
9657,9657,ZWE1989,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1989,55.0,75,Yes,Yes,Yes,No,1986-1990
9658,9658,ZWE1990,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1990,55.0,75,Yes,Yes,Yes,No,1986-1990

In [18]:
period_1991_1995 = df_entrepreneur.loc[df_entrepreneur['period'] == '1991-1995']
period_1991_1995

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
20,20,AFG1991,Afghanistan,AFG,South Asia,Low income,1991,25.6,75,Yes,Yes,Yes,No,1991-1995
21,21,AFG1992,Afghanistan,AFG,South Asia,Low income,1992,25.6,75,Yes,Yes,Yes,No,1991-1995
22,22,AFG1993,Afghanistan,AFG,South Asia,Low income,1993,25.6,75,Yes,Yes,Yes,No,1991-1995
23,23,AFG1994,Afghanistan,AFG,South Asia,Low income,1994,25.6,75,Yes,Yes,Yes,No,1991-1995
24,24,AFG1995,Afghanistan,AFG,South Asia,Low income,1995,25.6,75,Yes,Yes,Yes,No,1991-1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9659,9659,ZWE1991,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1991,55.0,75,Yes,Yes,Yes,No,1991-1995
9660,9660,ZWE1992,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1992,55.0,75,Yes,Yes,Yes,No,1991-1995
9661,9661,ZWE1993,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1993,57.5,75,Yes,Yes,Yes,No,1991-1995
9662,9662,ZWE1994,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1994,57.5,75,Yes,Yes,Yes,No,1991-1995
9663,9663,ZWE1995,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1995,66.9,75,Yes,Yes,Yes,No,1991-1995

In [19]:
period_1996_2000 = df_entrepreneur.loc[df_entrepreneur['period'] == '1996-2000']
period_1996_2000

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
25,25,AFG1996,Afghanistan,AFG,South Asia,Low income,1996,25.6,75,Yes,Yes,Yes,No,1996-2000
26,26,AFG1997,Afghanistan,AFG,South Asia,Low income,1997,25.6,75,Yes,Yes,Yes,No,1996-2000
27,27,AFG1998,Afghanistan,AFG,South Asia,Low income,1998,25.6,75,Yes,Yes,Yes,No,1996-2000
28,28,AFG1999,Afghanistan,AFG,South Asia,Low income,1999,25.6,75,Yes,Yes,Yes,No,1996-2000
29,29,AFG2000,Afghanistan,AFG,South Asia,Low income,2000,26.3,75,Yes,Yes,Yes,No,1996-2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9664,9664,ZWE1996,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1996,66.9,75,Yes,Yes,Yes,No,1996-2000
9665,9665,ZWE1997,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1997,66.9,75,Yes,Yes,Yes,No,1996-2000
9666,9666,ZWE1998,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1998,66.9,75,Yes,Yes,Yes,No,1996-2000
9667,9667,ZWE1999,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,1999,66.9,75,Yes,Yes,Yes,No,1996-2000
9668,9668,ZWE2000,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2000,70.0,100,Yes,Yes,Yes,Yes,1996-2000

In [20]:
period_2001_2005 = df_entrepreneur.loc[df_entrepreneur['period'] == '2001-2005']
period_2001_2005

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
30,30,AFG2001,Afghanistan,AFG,South Asia,Low income,2001,26.3,75,Yes,Yes,Yes,No,2001-2005
31,31,AFG2002,Afghanistan,AFG,South Asia,Low income,2002,26.3,75,Yes,Yes,Yes,No,2001-2005
32,32,AFG2003,Afghanistan,AFG,South Asia,Low income,2003,26.3,75,Yes,Yes,Yes,No,2001-2005
33,33,AFG2004,Afghanistan,AFG,South Asia,Low income,2004,26.3,75,Yes,Yes,Yes,No,2001-2005
34,34,AFG2005,Afghanistan,AFG,South Asia,Low income,2005,26.3,75,Yes,Yes,Yes,No,2001-2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9669,9669,ZWE2001,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2001,70.0,100,Yes,Yes,Yes,Yes,2001-2005
9670,9670,ZWE2002,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2002,70.0,100,Yes,Yes,Yes,Yes,2001-2005
9671,9671,ZWE2003,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2003,75.6,100,Yes,Yes,Yes,Yes,2001-2005
9672,9672,ZWE2004,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2004,78.8,100,Yes,Yes,Yes,Yes,2001-2005
9673,9673,ZWE2005,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2005,78.8,100,Yes,Yes,Yes,Yes,2001-2005

In [21]:
period_2006_2010 = df_entrepreneur.loc[df_entrepreneur['period'] == '2006-2010']
period_2006_2010

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
35,35,AFG2006,Afghanistan,AFG,South Asia,Low income,2006,26.3,75,Yes,Yes,Yes,No,2006-2010
36,36,AFG2007,Afghanistan,AFG,South Asia,Low income,2007,26.3,75,Yes,Yes,Yes,No,2006-2010
37,37,AFG2008,Afghanistan,AFG,South Asia,Low income,2008,28.8,75,Yes,Yes,Yes,No,2006-2010
38,38,AFG2009,Afghanistan,AFG,South Asia,Low income,2009,28.8,75,Yes,Yes,Yes,No,2006-2010
39,39,AFG2010,Afghanistan,AFG,South Asia,Low income,2010,28.8,75,Yes,Yes,Yes,No,2006-2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9674,9674,ZWE2006,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2006,78.8,100,Yes,Yes,Yes,Yes,2006-2010
9675,9675,ZWE2007,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2007,84.4,100,Yes,Yes,Yes,Yes,2006-2010
9676,9676,ZWE2008,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2008,86.9,100,Yes,Yes,Yes,Yes,2006-2010
9677,9677,ZWE2009,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2009,86.9,100,Yes,Yes,Yes,Yes,2006-2010
9678,9678,ZWE2010,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2010,86.9,100,Yes,Yes,Yes,Yes,2006-2010

In [22]:
period_2011_2015 = df_entrepreneur.loc[df_entrepreneur['period'] == '2011-2015']
period_2011_2015

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
40,40,AFG2011,Afghanistan,AFG,South Asia,Low income,2011,28.8,75,Yes,Yes,Yes,No,2011-2015
41,41,AFG2012,Afghanistan,AFG,South Asia,Low income,2012,28.8,75,Yes,Yes,Yes,No,2011-2015
42,42,AFG2013,Afghanistan,AFG,South Asia,Low income,2013,28.8,75,Yes,Yes,Yes,No,2011-2015
43,43,AFG2014,Afghanistan,AFG,South Asia,Low income,2014,28.8,75,Yes,Yes,Yes,No,2011-2015
44,44,AFG2015,Afghanistan,AFG,South Asia,Low income,2015,28.8,75,Yes,Yes,Yes,No,2011-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9679,9679,ZWE2011,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2011,86.9,100,Yes,Yes,Yes,Yes,2011-2015
9680,9680,ZWE2012,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2012,86.9,100,Yes,Yes,Yes,Yes,2011-2015
9681,9681,ZWE2013,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2013,86.9,100,Yes,Yes,Yes,Yes,2011-2015
9682,9682,ZWE2014,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2014,86.9,100,Yes,Yes,Yes,Yes,2011-2015
9683,9683,ZWE2015,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2015,86.9,100,Yes,Yes,Yes,Yes,2011-2015

In [23]:
period_2016_2021 = df_entrepreneur.loc[df_entrepreneur['period'] == '2016-2021']
period_2016_2021

,Unnamed: 0,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
45,45,AFG2016,Afghanistan,AFG,South Asia,Low income,2016,28.8,75,Yes,Yes,Yes,No,2016-2021
46,46,AFG2017,Afghanistan,AFG,South Asia,Low income,2017,38.1,75,Yes,Yes,Yes,No,2016-2021
47,47,AFG2018,Afghanistan,AFG,South Asia,Low income,2018,38.1,75,Yes,Yes,Yes,No,2016-2021
48,48,AFG2019,Afghanistan,AFG,South Asia,Low income,2019,38.1,75,Yes,Yes,Yes,No,2016-2021
49,49,AFG2020,Afghanistan,AFG,South Asia,Low income,2020,38.1,75,Yes,Yes,Yes,No,2016-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9685,9685,ZWE2017,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2017,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9686,9686,ZWE2018,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2018,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9687,9687,ZWE2019,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2019,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9688,9688,ZWE2020,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2020,86.9,100,Yes,Yes,Yes,Yes,2016-2021
9689,9689,ZWE2021,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2021,86.9,100,Yes,Yes,Yes,Yes,2016-2021