In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
bank_account_new = pd.read_csv('../data/Bank_account_data_NEW.csv', engine='python')
bank_account_new.shape

(10, 13)

In [3]:
bank_account_new

,Country_Name,Country_Code,Year,"Borrowed from a financial institution, female (% age 15+)","Borrowed from a financial institution, male (% age 15+)","Borrowed from family or friends, male (% age 15+)","Borrowed from family or friends, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014.0,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017.0,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014.0,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017.0,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014.0,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017.0,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014.0,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017.0,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bank_account = bank_account_new.iloc[0:8,0:14]
bank_account

,Country_Name,Country_Code,Year,"Borrowed from a financial institution, female (% age 15+)","Borrowed from a financial institution, male (% age 15+)","Borrowed from family or friends, male (% age 15+)","Borrowed from family or friends, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014.0,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017.0,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014.0,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017.0,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014.0,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017.0,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014.0,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017.0,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [5]:
bank_account.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 13 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Country_Name                                                                  8 non-null      object
 1   Country_Code                                                                  8 non-null      object
 2   Year                                                                          8 non-null      float64
 3   Borrowed from a financial institution, female (% age 15+)                     8 non-null      float64
 4   Borrowed from a financial institution, male (% age 15+)                       8 non-null      float64
 5   Borrowed from family or friends, male  (% age 15+)                            8 non-null      float64
 6   Borrowed from family or friends, female (% age 15+)                           8 non-null      float64
 7   Borrowed to start, operate, or expand a farm or business, female (% age 15+)  8 non-null      float64
 8   Borrowed to start, operate, or expand a farm or business, male (% age 15+)    8 non-null      float64
 9   Financial institution account,male(% age 15+)                                 8 non-null      float64
 10  Financial institution account,female(% age 15+)                               8 non-null      float64
 11  Saved to start, operate, or expand a farm or business, female (% age 15+)     8 non-null      float64
 12  Saved to start, operate, or expand a farm or business, male (% age 15+)       8 non-null      float64
dtypes: float64(11), object(2)
memory usage: 960.0+ bytes

In [6]:
bank_account['Year'].apply(np.floor)

0    2014.0
1    2017.0
2    2014.0
3    2017.0
4    2014.0
5    2017.0
6    2014.0
7    2017.0
Name: Year, dtype: float64

In [7]:
bank_account['Year'] = bank_account['Year'].astype(int)

In [8]:
bank_account.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 13 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Country_Name                                                                  8 non-null      object
 1   Country_Code                                                                  8 non-null      object
 2   Year                                                                          8 non-null      int32
 3   Borrowed from a financial institution, female (% age 15+)                     8 non-null      float64
 4   Borrowed from a financial institution, male (% age 15+)                       8 non-null      float64
 5   Borrowed from family or friends, male  (% age 15+)                            8 non-null      float64
 6   Borrowed from family or friends, female (% age 15+)                           8 non-null      float64
 7   Borrowed to start, operate, or expand a farm or business, female (% age 15+)  8 non-null      float64
 8   Borrowed to start, operate, or expand a farm or business, male (% age 15+)    8 non-null      float64
 9   Financial institution account,male(% age 15+)                                 8 non-null      float64
 10  Financial institution account,female(% age 15+)                               8 non-null      float64
 11  Saved to start, operate, or expand a farm or business, female (% age 15+)     8 non-null      float64
 12  Saved to start, operate, or expand a farm or business, male (% age 15+)       8 non-null      float64
dtypes: float64(10), int32(1), object(2)
memory usage: 928.0+ bytes

In [9]:
bank_account

,Country_Name,Country_Code,Year,"Borrowed from a financial institution, female (% age 15+)","Borrowed from a financial institution, male (% age 15+)","Borrowed from family or friends, male (% age 15+)","Borrowed from family or friends, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [10]:
bank_account_renamed = bank_account.rename(columns = {'Country_Name': 'Income_group', 'Country_Code': 'Income_group_Code', 'Borrowed from a financial institution, female (% age 15+)':'Borrowed_from_a_financial_institution_female_pct_age_15'})

In [11]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,"Borrowed from a financial institution, male (% age 15+)","Borrowed from family or friends, male (% age 15+)","Borrowed from family or friends, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [12]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Borrowed from a financial institution, male (% age 15+)':'Borrowed_from_a_financial_institution_male_pct_age_15'})

In [13]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)","Borrowed from family or friends, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [14]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Borrowed from family or friends, male (% age 15+)':'Borrowed_from_family_or_friends_male_pct_age_15'})

In [15]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)","Borrowed from family or friends, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [16]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Borrowed from family or friends, female (% age 15+)':'Borrowed_from_family_or_friends_female_pct_age_15'})

In [17]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,"Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [18]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Borrowed from family or friends, male (% age 15+)':'Borrowed_ffriends_male_pct_age_o15'})

In [19]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,"Borrowed to start, operate, or expand a farm or business, female (% age 15+)","Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [20]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Borrowed to start, operate, or expand a farm or business, female (% age 15+)':'Borrowed_business_female_pct_age_o15'})

In [21]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,Borrowed_business_female_pct_age_o15,"Borrowed to start, operate, or expand a farm or business, male (% age 15+)","Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [22]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Borrowed to start, operate, or expand a farm or business, male (% age 15+)':'Borrowed_business_male_pct_age_o15'})

In [23]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,Borrowed_business_female_pct_age_o15,Borrowed_business_male_pct_age_o15,"Financial institution account,male(% age 15+)","Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [24]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Financial institution account,male(% age 15+)':'Financial_institution_account_male_pct_age_o15'})

In [25]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,Borrowed_business_female_pct_age_o15,Borrowed_business_male_pct_age_o15,Financial_institution_account_male_pct_age_o15,"Financial institution account,female(% age 15+)","Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [26]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Financial institution account,female(% age 15+)':'Financial_institution_account_female_pct_age_o15'})

In [27]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,Borrowed_business_female_pct_age_o15,Borrowed_business_male_pct_age_o15,Financial_institution_account_male_pct_age_o15,Financial_institution_account_female_pct_age_o15,"Saved to start, operate, or expand a farm or business, female (% age 15+)","Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [28]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Saved to start, operate, or expand a farm or business, female (% age 15+)':'Saved_business_female_pct_age_o_15'})

In [29]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,Borrowed_business_female_pct_age_o15,Borrowed_business_male_pct_age_o15,Financial_institution_account_male_pct_age_o15,Financial_institution_account_female_pct_age_o15,Saved_business_female_pct_age_o_15,"Saved to start, operate, or expand a farm or business, male (% age 15+)"
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [30]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Saved to start, operate, or expand a farm or business, male (% age 15+)':'Saved_business_male_pct_age_o_15'})

In [31]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,"Borrowed from family or friends, male (% age 15+)",Borrowed_from_family_or_friends_female_pct_age_15,Borrowed_business_female_pct_age_o15,Borrowed_business_male_pct_age_o15,Financial_institution_account_male_pct_age_o15,Financial_institution_account_female_pct_age_o15,Saved_business_female_pct_age_o_15,Saved_business_male_pct_age_o_15
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [32]:
bank_account_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 13 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Income_group                                             8 non-null      object
 1   Income_group_Code                                        8 non-null      object
 2   Year                                                     8 non-null      int32
 3   Borrowed_from_a_financial_institution_female_pct_age_15  8 non-null      float64
 4   Borrowed_from_a_financial_institution_male_pct_age_15    8 non-null      float64
 5   Borrowed from family or friends, male  (% age 15+)       8 non-null      float64
 6   Borrowed_from_family_or_friends_female_pct_age_15        8 non-null      float64
 7   Borrowed_business_female_pct_age_o15                     8 non-null      float64
 8   Borrowed_business_male_pct_age_o15                       8 non-null      float64
 9   Financial_institution_account_male_pct_age_o15           8 non-null      float64
 10  Financial_institution_account_female_pct_age_o15         8 non-null      float64
 11  Saved_business_female_pct_age_o_15                       8 non-null      float64
 12  Saved_business_male_pct_age_o_15                         8 non-null      float64
dtypes: float64(10), int32(1), object(2)
memory usage: 928.0+ bytes

In [33]:
bank_account_renamed = bank_account_renamed.rename(columns = {'Borrowed from family or friends, male  (% age 15+)':'Borrowed_ffriends_male_pct_age_o15'})

In [34]:
bank_account_renamed

,Income_group,Income_group_Code,Year,Borrowed_from_a_financial_institution_female_pct_age_15,Borrowed_from_a_financial_institution_male_pct_age_15,Borrowed_ffriends_male_pct_age_o15,Borrowed_from_family_or_friends_female_pct_age_15,Borrowed_business_female_pct_age_o15,Borrowed_business_male_pct_age_o15,Financial_institution_account_male_pct_age_o15,Financial_institution_account_female_pct_age_o15,Saved_business_female_pct_age_o_15,Saved_business_male_pct_age_o_15
0,High income,HIC,2014,15.638198,20.259104,16.505072,14.332893,1.489429,3.898948,93.226997,92.429497,6.474092,12.241311
1,High income,HIC,2017,16.744610,21.618471,12.973973,13.538700,2.103282,4.290407,94.508415,92.908997,9.810725,17.209942
2,Low income,LIC,2014,5.185501,6.350809,39.203293,38.140614,11.905295,14.159684,19.355106,14.524921,16.201311,23.242212
3,Low income,LIC,2017,6.411187,7.746877,33.958748,28.805670,10.594646,12.805563,28.654364,20.529112,17.663136,22.413538
4,Lower middle income,LMC,2014,7.077247,8.973627,33.993507,31.043640,6.988796,11.465117,46.702744,34.489586,8.754417,14.715536
5,Lower middle income,LMC,2017,7.314330,9.517108,32.717728,28.135124,6.813035,8.998813,60.577847,51.660995,10.210896,15.489671
6,Upper middle income,UMC,2014,10.118506,11.966668,25.114691,23.484901,5.238873,7.375382,74.411484,68.678551,12.842896,20.417631
7,Upper middle income,UMC,2017,8.504173,11.390950,26.934853,25.330698,4.290271,6.783299,76.596062,69.048462,11.527228,17.410021

In [35]:
bank_account_renamed.to_csv('bank_accounts_14_18_renamed_restruc.csv')

In [36]:
borrowed_business_over_income  = (bank_account_renamed.groupby(['Income_group'], as_index=False)['Borrowed_business_female_pct_age_o15'].mean())
borrowed_business_over_income

          Income_group  Borrowed_business_female_pct_age_o15
0          High income                              1.796355
1           Low income                             11.249970
2  Lower middle income                              6.900915
3  Upper middle income                              4.764572