In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
female_business_owner = pd.read_csv('../data/female_business_owner_data.csv', engine='python')
female_business_owner.shape

(379, 18)

In [3]:
female_business_owner.head()

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
0,Afghanistan,Low income,2014.0,65,"5,043","5,108",14,"2,117","2,131",34,"3,414","3,448",1.3%,98.7%,0.7%,99.3%,1.0%,99.0%
1,Afghanistan,Low income,2015.0,45,"4,704","4,749",26,"3,110","3,136",11,"2,398","2,409",0.9%,99.1%,0.8%,99.2%,0.5%,99.5%
2,Afghanistan,Low income,2016.0,65,"5,036","5,101",33,"4,403","4,436",32,"2,473","2,505",1.3%,98.7%,0.7%,99.3%,1.3%,98.7%
3,Afghanistan,Low income,2017.0,88,"6,047","6,135",74,"4,343","4,417",34,"2,677","2,711",1.4%,98.6%,1.7%,98.3%,1.3%,98.7%
4,Afghanistan,Low income,2018.0,177,"8,482","8,659",149,"5,103","5,252",93,"5,057","5,150",2.0%,98.0%,2.8%,97.2%,1.8%,98.2%

In [4]:
female_business_owner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 18 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Country                                       365 non-null    object
 1   Income group                                  365 non-null    object
 2   Year                                          365 non-null    float64
 3   Number of female business owners of new LLCs  250 non-null    object
 4   Number of male business owners of new LLCs    250 non-null    object
 5   Total number of business owners of new LLCs   250 non-null    object
 6   Number of female sole proprietors             249 non-null    object
 7   Number of male sole proprietors               249 non-null    object
 8   Total number of sole proprietors              249 non-null    object
 9   Number of female directors of new LCCS        202 non-null    object
 10  Number of male directors of new LCCS          202 non-null    object
 11  Total number of directors of new LCCS         202 non-null    object
 12  Share of female business owners of new LLCs   250 non-null    object
 13  Share of male business owners of new LLCs     250 non-null    object
 14  Share of female sole proprietors              249 non-null    object
 15  Share of male sole proprietors                249 non-null    object
 16  Share of female directors of new LCCs         179 non-null    object
 17  Share of male directors of new LCCs           179 non-null    object
dtypes: float64(1), object(17)
memory usage: 53.4+ KB

In [5]:
female_business_owner.isnull().sum()

Country                                          14
Income group                                     14
Year                                             14
Number of female business owners of new LLCs    129
Number of male business owners of new LLCs      129
Total number of business owners of new LLCs     129
Number of female sole proprietors               130
Number of male sole proprietors                 130
Total number of sole proprietors                130
Number of female directors of new LCCS          177
Number of male directors of new LCCS            177
Total number of directors of new LCCS           177
Share of female business owners of new LLCs     129
Share of male business owners of new LLCs       129
Share of female sole proprietors                130
Share of male sole proprietors                  130
Share of female directors of new LCCs           200
Share of male directors of new LCCs             200
dtype: int64

In [6]:
female_business_owner_drop = female_business_owner.dropna()

In [7]:
female_business_owner_drop.isnull().sum()

Country                                         0
Income group                                    0
Year                                            0
Number of female business owners of new LLCs    0
Number of male business owners of new LLCs      0
Total number of business owners of new LLCs     0
Number of female sole proprietors               0
Number of male sole proprietors                 0
Total number of sole proprietors                0
Number of female directors of new LCCS          0
Number of male directors of new LCCS            0
Total number of directors of new LCCS           0
Share of female business owners of new LLCs     0
Share of male business owners of new LLCs       0
Share of female sole proprietors                0
Share of male sole proprietors                  0
Share of female directors of new LCCs           0
Share of male directors of new LCCs             0
dtype: int64

In [8]:
female_business_owner_drop

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
0,Afghanistan,Low income,2014.0,65,"5,043","5,108",14,"2,117","2,131",34,"3,414","3,448",1.3%,98.7%,0.7%,99.3%,1.0%,99.0%
1,Afghanistan,Low income,2015.0,45,"4,704","4,749",26,"3,110","3,136",11,"2,398","2,409",0.9%,99.1%,0.8%,99.2%,0.5%,99.5%
2,Afghanistan,Low income,2016.0,65,"5,036","5,101",33,"4,403","4,436",32,"2,473","2,505",1.3%,98.7%,0.7%,99.3%,1.3%,98.7%
3,Afghanistan,Low income,2017.0,88,"6,047","6,135",74,"4,343","4,417",34,"2,677","2,711",1.4%,98.6%,1.7%,98.3%,1.3%,98.7%
4,Afghanistan,Low income,2018.0,177,"8,482","8,659",149,"5,103","5,252",93,"5,057","5,150",2.0%,98.0%,2.8%,97.2%,1.8%,98.2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Zambia,Lower middle income,2014.0,"4,611","17,184","21,795","2,885","10,083","12,968","4,564","17,662","22,226",21.2%,78.8%,22.2%,77.8%,20.5%,79.5%
361,Zambia,Lower middle income,2015.0,"4,627","15,545","20,172","3,013","9,193","12,206","4,638","16,016","20,654",22.9%,77.1%,24.7%,75.3%,22.5%,77.5%
362,Zambia,Lower middle income,2016.0,"4,041","13,905","17,946","2,490","7,422","9,912","4,005","14,225","18,230",22.5%,77.5%,25.1%,74.9%,22.0%,78.0%
363,Zambia,Lower middle income,2017.0,"4,059","14,931","18,990","2,944","8,939","11,883","4,076","15,296","19,372",21.4%,78.6%,24.8%,75.2%,21.0%,79.0%
364,Zambia,Lower middle income,2018.0,"4,481","16,092","20,573","3,056","9,296","12,352","4,435","16,403","20,838",21.8%,78.2%,24.7%,75.3%,21.3%,78.7%

In [9]:
female_business_owner_drop.tail()

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
360,Zambia,Lower middle income,2014.0,"4,611","17,184","21,795","2,885","10,083","12,968","4,564","17,662","22,226",21.2%,78.8%,22.2%,77.8%,20.5%,79.5%
361,Zambia,Lower middle income,2015.0,"4,627","15,545","20,172","3,013","9,193","12,206","4,638","16,016","20,654",22.9%,77.1%,24.7%,75.3%,22.5%,77.5%
362,Zambia,Lower middle income,2016.0,"4,041","13,905","17,946","2,490","7,422","9,912","4,005","14,225","18,230",22.5%,77.5%,25.1%,74.9%,22.0%,78.0%
363,Zambia,Lower middle income,2017.0,"4,059","14,931","18,990","2,944","8,939","11,883","4,076","15,296","19,372",21.4%,78.6%,24.8%,75.2%,21.0%,79.0%
364,Zambia,Lower middle income,2018.0,"4,481","16,092","20,573","3,056","9,296","12,352","4,435","16,403","20,838",21.8%,78.2%,24.7%,75.3%,21.3%,78.7%

In [10]:
female_business_owner_drop['Share of male directors of new LCCs'] = female_business_owner_drop['Share of male directors of new LCCs'].str.replace('%', '')

<ipython-input-10-9ed9873abcb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of male directors of new LCCs'] = female_business_owner_drop['Share of male directors of new LCCs'].str.replace('%', '')

In [11]:
female_business_owner_drop['Share of female directors of new LCCs'] = female_business_owner_drop['Share of female directors of new LCCs'].str.replace('%', '')

<ipython-input-11-e4411c152b59>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of female directors of new LCCs'] = female_business_owner_drop['Share of female directors of new LCCs'].str.replace('%', '')

In [12]:
female_business_owner_drop['Share of male sole proprietors'] = female_business_owner_drop['Share of male sole proprietors'].str.replace('%', '')

<ipython-input-12-21bbfdc729c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of male sole proprietors'] = female_business_owner_drop['Share of male sole proprietors'].str.replace('%', '')

In [13]:
female_business_owner_drop['Share of female sole proprietors'] = female_business_owner_drop['Share of female sole proprietors'].str.replace('%', '')

<ipython-input-13-6f60126ae5f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of female sole proprietors'] = female_business_owner_drop['Share of female sole proprietors'].str.replace('%', '')

In [14]:
female_business_owner_drop['Share of male business owners of new LLCs'] = female_business_owner_drop['Share of male business owners of new LLCs'].str.replace('%', '')

<ipython-input-14-69278af0122d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of male business owners of new LLCs'] = female_business_owner_drop['Share of male business owners of new LLCs'].str.replace('%', '')

In [15]:
female_business_owner_drop['Share of female business owners of new LLCs'] = female_business_owner_drop['Share of female business owners of new LLCs'].str.replace('%', '')

<ipython-input-15-0122408e40c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of female business owners of new LLCs'] = female_business_owner_drop['Share of female business owners of new LLCs'].str.replace('%', '')

In [16]:
female_business_owner_drop

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
0,Afghanistan,Low income,2014.0,65,"5,043","5,108",14,"2,117","2,131",34,"3,414","3,448",1.3,98.7,0.7,99.3,1.0,99.0
1,Afghanistan,Low income,2015.0,45,"4,704","4,749",26,"3,110","3,136",11,"2,398","2,409",0.9,99.1,0.8,99.2,0.5,99.5
2,Afghanistan,Low income,2016.0,65,"5,036","5,101",33,"4,403","4,436",32,"2,473","2,505",1.3,98.7,0.7,99.3,1.3,98.7
3,Afghanistan,Low income,2017.0,88,"6,047","6,135",74,"4,343","4,417",34,"2,677","2,711",1.4,98.6,1.7,98.3,1.3,98.7
4,Afghanistan,Low income,2018.0,177,"8,482","8,659",149,"5,103","5,252",93,"5,057","5,150",2.0,98.0,2.8,97.2,1.8,98.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Zambia,Lower middle income,2014.0,"4,611","17,184","21,795","2,885","10,083","12,968","4,564","17,662","22,226",21.2,78.8,22.2,77.8,20.5,79.5
361,Zambia,Lower middle income,2015.0,"4,627","15,545","20,172","3,013","9,193","12,206","4,638","16,016","20,654",22.9,77.1,24.7,75.3,22.5,77.5
362,Zambia,Lower middle income,2016.0,"4,041","13,905","17,946","2,490","7,422","9,912","4,005","14,225","18,230",22.5,77.5,25.1,74.9,22.0,78.0
363,Zambia,Lower middle income,2017.0,"4,059","14,931","18,990","2,944","8,939","11,883","4,076","15,296","19,372",21.4,78.6,24.8,75.2,21.0,79.0
364,Zambia,Lower middle income,2018.0,"4,481","16,092","20,573","3,056","9,296","12,352","4,435","16,403","20,838",21.8,78.2,24.7,75.3,21.3,78.7

In [17]:
female_business_owner_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 364
Data columns (total 18 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Country                                       139 non-null    object
 1   Income group                                  139 non-null    object
 2   Year                                          139 non-null    float64
 3   Number of female business owners of new LLCs  139 non-null    object
 4   Number of male business owners of new LLCs    139 non-null    object
 5   Total number of business owners of new LLCs   139 non-null    object
 6   Number of female sole proprietors             139 non-null    object
 7   Number of male sole proprietors               139 non-null    object
 8   Total number of sole proprietors              139 non-null    object
 9   Number of female directors of new LCCS        139 non-null    object
 10  Number of male directors of new LCCS          139 non-null    object
 11  Total number of directors of new LCCS         139 non-null    object
 12  Share of female business owners of new LLCs   139 non-null    object
 13  Share of male business owners of new LLCs     139 non-null    object
 14  Share of female sole proprietors              139 non-null    object
 15  Share of male sole proprietors                139 non-null    object
 16  Share of female directors of new LCCs         139 non-null    object
 17  Share of male directors of new LCCs           139 non-null    object
dtypes: float64(1), object(17)
memory usage: 20.6+ KB

In [18]:
female_business_owner_drop['Share of male directors of new LCCs'] = female_business_owner_drop['Share of male directors of new LCCs'].astype(float)

<ipython-input-18-543dc57ac27a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of male directors of new LCCs'] = female_business_owner_drop['Share of male directors of new LCCs'].astype(float)

In [19]:
female_business_owner_drop['Share of female directors of new LCCs'] = female_business_owner_drop['Share of female directors of new LCCs'].astype(float)

<ipython-input-19-2981b4115821>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of female directors of new LCCs'] = female_business_owner_drop['Share of female directors of new LCCs'].astype(float)

In [20]:
female_business_owner_drop['Share of male sole proprietors'] = female_business_owner_drop['Share of male sole proprietors'].astype(float)

<ipython-input-20-2ef0581b24e0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of male sole proprietors'] = female_business_owner_drop['Share of male sole proprietors'].astype(float)

In [21]:
female_business_owner_drop['Share of female sole proprietors'] = female_business_owner_drop['Share of female sole proprietors'].astype(float)

<ipython-input-21-d20f7bc39483>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of female sole proprietors'] = female_business_owner_drop['Share of female sole proprietors'].astype(float)

In [22]:
female_business_owner_drop['Share of male business owners of new LLCs'] = female_business_owner_drop['Share of male business owners of new LLCs'].astype(float)

<ipython-input-22-220c018adb67>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of male business owners of new LLCs'] = female_business_owner_drop['Share of male business owners of new LLCs'].astype(float)

In [23]:
female_business_owner_drop['Share of female business owners of new LLCs'] = female_business_owner_drop['Share of female business owners of new LLCs'].astype(float)

<ipython-input-23-787f0f162b30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Share of female business owners of new LLCs'] = female_business_owner_drop['Share of female business owners of new LLCs'].astype(float)

In [24]:
female_business_owner_drop

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
0,Afghanistan,Low income,2014.0,65,"5,043","5,108",14,"2,117","2,131",34,"3,414","3,448",1.3,98.7,0.7,99.3,1.0,99.0
1,Afghanistan,Low income,2015.0,45,"4,704","4,749",26,"3,110","3,136",11,"2,398","2,409",0.9,99.1,0.8,99.2,0.5,99.5
2,Afghanistan,Low income,2016.0,65,"5,036","5,101",33,"4,403","4,436",32,"2,473","2,505",1.3,98.7,0.7,99.3,1.3,98.7
3,Afghanistan,Low income,2017.0,88,"6,047","6,135",74,"4,343","4,417",34,"2,677","2,711",1.4,98.6,1.7,98.3,1.3,98.7
4,Afghanistan,Low income,2018.0,177,"8,482","8,659",149,"5,103","5,252",93,"5,057","5,150",2.0,98.0,2.8,97.2,1.8,98.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Zambia,Lower middle income,2014.0,"4,611","17,184","21,795","2,885","10,083","12,968","4,564","17,662","22,226",21.2,78.8,22.2,77.8,20.5,79.5
361,Zambia,Lower middle income,2015.0,"4,627","15,545","20,172","3,013","9,193","12,206","4,638","16,016","20,654",22.9,77.1,24.7,75.3,22.5,77.5
362,Zambia,Lower middle income,2016.0,"4,041","13,905","17,946","2,490","7,422","9,912","4,005","14,225","18,230",22.5,77.5,25.1,74.9,22.0,78.0
363,Zambia,Lower middle income,2017.0,"4,059","14,931","18,990","2,944","8,939","11,883","4,076","15,296","19,372",21.4,78.6,24.8,75.2,21.0,79.0
364,Zambia,Lower middle income,2018.0,"4,481","16,092","20,573","3,056","9,296","12,352","4,435","16,403","20,838",21.8,78.2,24.7,75.3,21.3,78.7

In [25]:
female_business_owner_drop

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
0,Afghanistan,Low income,2014.0,65,"5,043","5,108",14,"2,117","2,131",34,"3,414","3,448",1.3,98.7,0.7,99.3,1.0,99.0
1,Afghanistan,Low income,2015.0,45,"4,704","4,749",26,"3,110","3,136",11,"2,398","2,409",0.9,99.1,0.8,99.2,0.5,99.5
2,Afghanistan,Low income,2016.0,65,"5,036","5,101",33,"4,403","4,436",32,"2,473","2,505",1.3,98.7,0.7,99.3,1.3,98.7
3,Afghanistan,Low income,2017.0,88,"6,047","6,135",74,"4,343","4,417",34,"2,677","2,711",1.4,98.6,1.7,98.3,1.3,98.7
4,Afghanistan,Low income,2018.0,177,"8,482","8,659",149,"5,103","5,252",93,"5,057","5,150",2.0,98.0,2.8,97.2,1.8,98.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Zambia,Lower middle income,2014.0,"4,611","17,184","21,795","2,885","10,083","12,968","4,564","17,662","22,226",21.2,78.8,22.2,77.8,20.5,79.5
361,Zambia,Lower middle income,2015.0,"4,627","15,545","20,172","3,013","9,193","12,206","4,638","16,016","20,654",22.9,77.1,24.7,75.3,22.5,77.5
362,Zambia,Lower middle income,2016.0,"4,041","13,905","17,946","2,490","7,422","9,912","4,005","14,225","18,230",22.5,77.5,25.1,74.9,22.0,78.0
363,Zambia,Lower middle income,2017.0,"4,059","14,931","18,990","2,944","8,939","11,883","4,076","15,296","19,372",21.4,78.6,24.8,75.2,21.0,79.0
364,Zambia,Lower middle income,2018.0,"4,481","16,092","20,573","3,056","9,296","12,352","4,435","16,403","20,838",21.8,78.2,24.7,75.3,21.3,78.7

In [26]:
female_business_owner_drop['Total number of directors of new LCCS'] = female_business_owner_drop['Total number of directors of new LCCS'].str.replace(',', '')

<ipython-input-26-9ae5ebb32d0f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Total number of directors of new LCCS'] = female_business_owner_drop['Total number of directors of new LCCS'].str.replace(',', '')

In [27]:
female_business_owner_drop['Total number of directors of new LCCS'] = female_business_owner_drop['Total number of directors of new LCCS'].astype(int)

<ipython-input-27-c3b5de7c14fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Total number of directors of new LCCS'] = female_business_owner_drop['Total number of directors of new LCCS'].astype(int)

In [28]:
female_business_owner_drop

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
0,Afghanistan,Low income,2014.0,65,"5,043","5,108",14,"2,117","2,131",34,"3,414",3448,1.3,98.7,0.7,99.3,1.0,99.0
1,Afghanistan,Low income,2015.0,45,"4,704","4,749",26,"3,110","3,136",11,"2,398",2409,0.9,99.1,0.8,99.2,0.5,99.5
2,Afghanistan,Low income,2016.0,65,"5,036","5,101",33,"4,403","4,436",32,"2,473",2505,1.3,98.7,0.7,99.3,1.3,98.7
3,Afghanistan,Low income,2017.0,88,"6,047","6,135",74,"4,343","4,417",34,"2,677",2711,1.4,98.6,1.7,98.3,1.3,98.7
4,Afghanistan,Low income,2018.0,177,"8,482","8,659",149,"5,103","5,252",93,"5,057",5150,2.0,98.0,2.8,97.2,1.8,98.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Zambia,Lower middle income,2014.0,"4,611","17,184","21,795","2,885","10,083","12,968","4,564","17,662",22226,21.2,78.8,22.2,77.8,20.5,79.5
361,Zambia,Lower middle income,2015.0,"4,627","15,545","20,172","3,013","9,193","12,206","4,638","16,016",20654,22.9,77.1,24.7,75.3,22.5,77.5
362,Zambia,Lower middle income,2016.0,"4,041","13,905","17,946","2,490","7,422","9,912","4,005","14,225",18230,22.5,77.5,25.1,74.9,22.0,78.0
363,Zambia,Lower middle income,2017.0,"4,059","14,931","18,990","2,944","8,939","11,883","4,076","15,296",19372,21.4,78.6,24.8,75.2,21.0,79.0
364,Zambia,Lower middle income,2018.0,"4,481","16,092","20,573","3,056","9,296","12,352","4,435","16,403",20838,21.8,78.2,24.7,75.3,21.3,78.7

In [29]:
female_business_owner_drop['Number of male directors of new LCCS'] = female_business_owner_drop['Number of male directors of new LCCS'].str.replace(',', '')
female_business_owner_drop['Total number of sole proprietors'] = female_business_owner_drop['Total number of sole proprietors'].str.replace(',', '')
female_business_owner_drop['Number of male sole proprietors'] = female_business_owner_drop['Number of male sole proprietors'].str.replace(',', '')
female_business_owner_drop['Total number of business owners of new LLCs'] = female_business_owner_drop['Total number of business owners of new LLCs'].str.replace(',', '')
female_business_owner_drop['Number of male business owners of new LLCs'] = female_business_owner_drop['Number of male business owners of new LLCs'].str.replace(',', '')
female_business_owner_drop['Number of female directors of new LCCS'] = female_business_owner_drop['Number of female directors of new LCCS'].str.replace(',', '')

<ipython-input-29-b39d00e3635c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of male directors of new LCCS'] = female_business_owner_drop['Number of male directors of new LCCS'].str.replace(',', '')
<ipython-input-29-b39d00e3635c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Total number of sole proprietors'] = female_business_owner_drop['Total number of sole proprietors'].str.replace(',', '')
<ipython-input-29-b39d00e3635c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of male sole proprietors'] = female_business_owner_drop['Number of male sole proprietors'].str.replace(',', '')
<ipython-input-29-b39d00e3635c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Total number of business owners of new LLCs'] = female_business_owner_drop['Total number of business owners of new LLCs'].str.replace(',', '')
<ipython-input-29-b39d00e3635c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of male business owners of new LLCs'] = female_business_owner_drop['Number of male business owners of new LLCs'].str.replace(',', '')
<ipython-input-29-b39d00e3635c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of female directors of new LCCS'] = female_business_owner_drop['Number of female directors of new LCCS'].str.replace(',', '')

In [30]:
female_business_owner_drop

,Country,Income group,Year,Number of female business owners of new LLCs,Number of male business owners of new LLCs,Total number of business owners of new LLCs,Number of female sole proprietors,Number of male sole proprietors,Total number of sole proprietors,Number of female directors of new LCCS,Number of male directors of new LCCS,Total number of directors of new LCCS,Share of female business owners of new LLCs,Share of male business owners of new LLCs,Share of female sole proprietors,Share of male sole proprietors,Share of female directors of new LCCs,Share of male directors of new LCCs
0,Afghanistan,Low income,2014.0,65,5043,5108,14,2117,2131,34,3414,3448,1.3,98.7,0.7,99.3,1.0,99.0
1,Afghanistan,Low income,2015.0,45,4704,4749,26,3110,3136,11,2398,2409,0.9,99.1,0.8,99.2,0.5,99.5
2,Afghanistan,Low income,2016.0,65,5036,5101,33,4403,4436,32,2473,2505,1.3,98.7,0.7,99.3,1.3,98.7
3,Afghanistan,Low income,2017.0,88,6047,6135,74,4343,4417,34,2677,2711,1.4,98.6,1.7,98.3,1.3,98.7
4,Afghanistan,Low income,2018.0,177,8482,8659,149,5103,5252,93,5057,5150,2.0,98.0,2.8,97.2,1.8,98.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,Zambia,Lower middle income,2014.0,"4,611",17184,21795,"2,885",10083,12968,4564,17662,22226,21.2,78.8,22.2,77.8,20.5,79.5
361,Zambia,Lower middle income,2015.0,"4,627",15545,20172,"3,013",9193,12206,4638,16016,20654,22.9,77.1,24.7,75.3,22.5,77.5
362,Zambia,Lower middle income,2016.0,"4,041",13905,17946,"2,490",7422,9912,4005,14225,18230,22.5,77.5,25.1,74.9,22.0,78.0
363,Zambia,Lower middle income,2017.0,"4,059",14931,18990,"2,944",8939,11883,4076,15296,19372,21.4,78.6,24.8,75.2,21.0,79.0
364,Zambia,Lower middle income,2018.0,"4,481",16092,20573,"3,056",9296,12352,4435,16403,20838,21.8,78.2,24.7,75.3,21.3,78.7

In [33]:
female_business_owner_drop['Number of male directors of new LCCS'] = female_business_owner_drop['Number of male directors of new LCCS'].astype(int)
female_business_owner_drop['Total number of sole proprietors'] = female_business_owner_drop['Total number of sole proprietors'].astype(int)
female_business_owner_drop['Number of male sole proprietors'] = female_business_owner_drop['Number of male sole proprietors'].astype(int)
female_business_owner_drop['Total number of sole proprietors'] = female_business_owner_drop['Total number of sole proprietors'].astype(int)
female_business_owner_drop['Number of male sole proprietors'] = female_business_owner_drop['Number of male sole proprietors'].astype(int)
female_business_owner_drop['Number of female directors of new LCCS'] = female_business_owner_drop['Number of female directors of new LCCS'].astype(int)

<ipython-input-33-bcfac6e872e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of male directors of new LCCS'] = female_business_owner_drop['Number of male directors of new LCCS'].astype(int)
<ipython-input-33-bcfac6e872e3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Total number of sole proprietors'] = female_business_owner_drop['Total number of sole proprietors'].astype(int)
<ipython-input-33-bcfac6e872e3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of male sole proprietors'] = female_business_owner_drop['Number of male sole proprietors'].astype(int)
<ipython-input-33-bcfac6e872e3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Total number of sole proprietors'] = female_business_owner_drop['Total number of sole proprietors'].astype(int)
<ipython-input-33-bcfac6e872e3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of male sole proprietors'] = female_business_owner_drop['Number of male sole proprietors'].astype(int)
<ipython-input-33-bcfac6e872e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_business_owner_drop['Number of female directors of new LCCS'] = female_business_owner_drop['Number of female directors of new LCCS'].astype(int)

In [34]:
female_business_owner_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 364
Data columns (total 18 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Country                                       139 non-null    object
 1   Income group                                  139 non-null    object
 2   Year                                          139 non-null    float64
 3   Number of female business owners of new LLCs  139 non-null    object
 4   Number of male business owners of new LLCs    139 non-null    object
 5   Total number of business owners of new LLCs   139 non-null    object
 6   Number of female sole proprietors             139 non-null    object
 7   Number of male sole proprietors               139 non-null    int32
 8   Total number of sole proprietors              139 non-null    int32
 9   Number of female directors of new LCCS        139 non-null    int32
 10  Number of male directors of new LCCS          139 non-null    int32
 11  Total number of directors of new LCCS         139 non-null    int32
 12  Share of female business owners of new LLCs   139 non-null    float64
 13  Share of male business owners of new LLCs     139 non-null    float64
 14  Share of female sole proprietors              139 non-null    float64
 15  Share of male sole proprietors                139 non-null    float64
 16  Share of female directors of new LCCs         139 non-null    float64
 17  Share of male directors of new LCCs           139 non-null    float64
dtypes: float64(7), int32(5), object(6)
memory usage: 17.9+ KB